<div class="search-bar">

  <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl"
         name="search_term"
         [(ngModel)]="currentTermValue"
         value="{{currentTermValue}}"

  >
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of filteredOptions|async" [value]="item">
      {{item}}
    </mat-option>
  </mat-autocomplete>




  <div
 [ngClass]="{
 'right-icon':rightIcon=='true',
 'left-icon':rightIcon=='false'


 }"
  >
  <mat-icon class="search_icon">search_outline</mat-icon>

  </div>

 <button type ="submit" style="display: none;"></button>


</div>
